/* General */

.pseudobutton {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    .sidebar-nav & {
        color: #aaa;
        text-align: left;
        width: 100%;
        display: block;
    }
}

/* blockUI */

.blockUI {
    z-index: $z-index-blockUI !important;
}

/* bootstrap-growl */

.bootstrap-growl {
    z-index: $z-index-bootstrap-growl !important;
}

/* svg-spinner loading icon */

.icon-loading {
    position: absolute;
    display: none;
    text-align: right;
    right: 50px;
    top: 20px;
}

.wait-cursor {
    cursor: wait;
}

/* Online/offline status indicator */

.bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    border: 1px solid #fff;
    border-radius: 10px;
    vertical-align: -.1em;
    background-color: #000;
}

.bubble--online {
    background-color: #449d44;
    border-color: #398439;
}

.bubble--offline {
    background-color: #c9302c;
    border-color: #ac2925;
}

.bubble--away {
    background-color: #eb9316;
    border-color: #d58512;
}
