/* General */

.pseudobutton {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    .sidebar-nav & {
        color: #aaa;
        text-align: left;
        width: 100%;
        display: block;
    }
}

/* blockUI */

.blockUI {
    z-index: $z-index-blockUI !important;    
}

/* bootstrap-growl */

.bootstrap-growl {
    z-index: $z-index-bootstrap-growl !important;
}

/* sidebar-clearlocaldb */

.sidebar-clearlocaldb {
    position: absolute;
    right: 10px;
    top: 25px;
}

/* svg-spinner loading icon */

.icon-loading {
    position: absolute;
    display: none;
    text-align: right;
    right: 50px;
    top: 20px;
}