/* General */

.pseudobutton {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    .sidebar-nav & {
        color: #aaa;
        text-align: left;
        width: 100%;
        display: block;
    }
}

/* blockUI */

.blockUI {
    z-index: $z-index-blockUI !important;    
}

/* bootstrap-growl */

.bootstrap-growl {
    z-index: $z-index-bootstrap-growl !important;
}

/* tags-input */

.bootstrap-tagsinput {
    display: block;
}